@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@font-face {
    font-family: bauhaus;
    src: url('../fonts/bauhaus.woff');
}

html,body{
  font-family: "Roboto";
  height: 100%;
}

nav{
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

#nav-main a{
  color:rgb(150, 150, 150);
}

#nav-main .nav-button{
  box-shadow: none;
  border:1px solid rgb(150, 150, 150);
  transition: none;
}

#nav-main .nav-button:hover{
  background: rgb(0, 190, 227);
  border:1px rgb(0, 190, 227);
  color:white
}

nav ul li{
  margin-right: 15px;
}

.nav-button{
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border:1px solid #ffffff;
  transition: none;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.nav-button:hover{
  background: rgb(0, 190, 227);
  border:1px rgb(0, 190, 227);
}

#sub-banner{
  margin-top:15%;
}

#sub-text h3{
  line-height: 150%;
}

#logo{
  padding:10px;
}

#rotate{
  background: rgb(0, 190, 227);
  padding:10px;
  font-weight: bold;
  font-size: 1.5rem;
  width:20%;
  margin-left: 39%;
}

#banner{
  background: url("../images/app.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

section h4{
  color:rgb(0, 190, 227);
  font-weight: bold;
}

h6{
  font-weight: bold;
}

#why{
  padding-top: 5%;
  padding-bottom:10%;
}

#why img{
  display: block;
  margin:0 auto;
}

.box{
  margin-top:5%;
}

.box h6{
  margin-top:5%;
  margin-bottom: 3%;
}

#features{
  background: rgb(229, 229, 229);
  padding:8%;
}

.subspan{
  margin-top: 8%;
  margin-left: 8% !important;
}

#vision{
  margin-bottom: 10%;
}

#vision h5{
  font-weight: bold;
}

#vision h4, #interest h4{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#interest{
  background: url("../images/interested.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

#interest h4{
  color: #ffffff;
  margin-bottom: 6%
}

#interest span{
  display: block;
  color: #ffffff;
  margin-bottom:3%;
  font-size: 1.9rem;
}

footer{
  background: rgb(0, 190, 227);
  padding:1%;
  color:#ffffff;
}

#log_in{
  background: url("../images/app.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#log{
  width:100%;
  border-radius: 50px;
  background: rgb(0, 183, 230);
}

#login, #regist{
  margin-top:10px;
}

.card-content img{
  margin-bottom:10px;
}

.card-title{
  margin-bottom:0 !important;
}
